<nav
  class="navbar navbar-dark navbar-expand-lg navbar-expand-md navbar-expand-sm"
>
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand" style="font-weight: bold"
      >Pension Management Portal</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContents"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContents">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a
              class="nav-link navbar-brand"

              style="font-weight: bold"
               *ngIf="isUserLoggedIn">{{ username }}</a
            >
          </li>
          <li class="nav-item">
            <a role="button" class="nav-link navbar-brand" style="font-weight: bold" (click)="logout()"
            *ngIf="isUserLoggedIn">Logout</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-brand" style="font-weight: bold" [routerLink]="['/','login']"
            *ngIf="!isUserLoggedIn">Login</a
            >
          </li>


      </ul>
    </div>
  </div>
</nav>
