
.div-center {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.562);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
 border-radius: 2%;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
input.form-control::placeholder {
  opacity: .5;
}
